<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYgPmDhNKOIVgg0Yz1Z-L75bHsU6lnwl4</string>
	<key>GCM_SENDER_ID</key>
	<string>438260061125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nebula.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-ecacc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-ecacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438260061125:ios:dd763ae7c3b29fc8a231ac</string>
</dict>
</plist>